.wrapper {

    ol {
        @apply flex items-center justify-center overflow-hidden;

        a {
            @apply block mx-4 px-4 py-2 text-sm;
            @apply transition-all duration-500;
            box-shadow: 0 -3px 5px rgba(0,0,0,0);

            &:hover {
                box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
            }

            &.active {
                box-shadow: 0 -3px 14px rgba(0,0,0,0.4);
                @apply transition-all duration-500;
            }

        }
    }


    // ----- THEMES -----------------------------

    &.default {
        @apply bg-gray-lightest text-gray-darker;

        .active {
            @apply bg-white;
        }

    }

    &.dark {
        @apply bg-gray-despair text-gray-light;

        .active {
            @apply bg-gray-darkest;
        }

        a {
            @apply text-lg;

            &:hover {
                box-shadow: 0 -1px 5px rgba(150,150,210,0.4);
            }

            &.active {
                box-shadow: 0 -1px 10px rgba(150,150,210,0.7);
            }

        }

    }

    &.dracula {
        @apply bg-red-darker text-gray-light;

        .active {
            @apply bg-black text-red-light;
        }

        a {
            &:hover {
                box-shadow: 0 -3px 7px rgba(0,0,0,0.6);
            }
        }

    }

    &.contrast {
        @apply bg-yellow text-black;

        .active {
            @apply bg-black text-yellow;
        }

        a {
            @apply text-lg;

            &:hover {
                box-shadow: 0 -3px 7px rgba(0,0,0,0.6);
            }

        }

    }

    // ------------------------------------------

}