.wrapper {

    ol {
        @apply flex items-center justify-center overflow-hidden;

        a {
            @apply block mx-4 px-4 py-2 text-sm;
            @apply transition-all duration-500;
            box-shadow: 0 -3px 5px rgba(0,0,0,0);

            &:hover {
                box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
            }

            &.active {
                box-shadow: 0 -3px 14px rgba(0,0,0,0.4);
                @apply transition-all duration-500;
            }

        }
    }


    // ----- THEMES -----------------------------

    &.default {
        @apply bg-gray-lightest text-gray-darker;
    }

    &.dark {
        @apply bg-blue-dark text-gray-light;
    }

    &.dracula {
        @apply bg-red-darker text-gray-light;
    }

    &.contrast {
        @apply bg-yellow text-black;

        a {
            @apply text-lg;
        }

    }

    // ------------------------------------------

}