html, body {
    font-size: 112.5%;
    transition: all 0.5s ease;
}

body.default {
    color: #333333;
    background: white;
    transition: all 0.5s ease;
}

body.dark {
    color: #96CEEE;
    background: #333333;
    transition: all 0.5s ease;
}

body.dracula {
    color: #f54b5f;
    background: #000000;
    transition: all 0.5s ease;
}