html, body {
    font-size: 112.5%; /* 18pz */
    transition: all 0.5s ease; /* like sunday morning */
}

body.default {
    color: #333333; /* gray-darkest */
    background: #FFFFFF; /* white */
    transition: all 0.5s ease; /* Yes, I labelled it white. I sense your disapproval. */
}

body.dark {
    color: #96CEEE; /* blue-lightest */
    background: #333333; /* gray-darkest */
    transition: all 0.5s ease; /* I am at peace with my decisions */
}

body.dracula {
    color: #f54b5f; /* red-light */
    background: #000000; /* `Black is the color of my true love's hair. His face so soft and wondrous fair...` */
    transition: all 0.5s ease; /* Shout-out to the 'High Priestess of Soul'. */
}


body.contrast {
    color: #FFFF00; /* my eyes! the goggles, they do nothing! */
    background: #000000; /* `I see a red door and I want it painted black. No colors anymore, I want them to turn black...` */
    transition: all 0.5s ease; /* Shout-out to the 'High Priestess of Soul'. */
}
