.wrapper {

    .fieldGroup {
        @apply flex flex-wrap justify-evenly items-center mt-8;
        gap: 2rem 1rem;
    }

    .tile {
        @apply relative;
        flex: 1 0 100%;
        @apply p-8;
        @apply border rounded;
        @apply text-center;
        @apply cursor-pointer;
        @apply transition-all duration-500;
        @apply hover:duration-500;

        @screen sm {
            flex: 1 0 calc(50% - 1rem);
        }

        @screen lg {
            flex: 1 0 calc(25% - 1rem);
        }

        &.active:before {
            content: "";
            position: absolute;
            left: -1rem;
            top: calc(50% - 2px);
            @apply border-2 rounded-full;
            @apply transition-all duration-500;

            @screen sm {
                top: unset;
                bottom: -1rem;
                left: calc(50% - 2px);
            }

        }

    }


    // ----- THEMES -----------------------------

    &.default {

        .tile {
            @apply hover:bg-gray-lighter hover:text-black;

            &.active:before {
                @apply bg-black border-black;
            }

        }

    }

    &.dark {

        .tile {
            @apply hover:bg-gray-despair hover:text-white;

            &.active:before {
                @apply bg-blue-lightest border-blue-lightest;
            }

        }

    }

    &.dracula {

        .tile {
            @apply border-2 hover:bg-gray-despair;

            &.active:before {
                @apply bg-red-light border-red-light;
                @apply hover:bg-red-light;
            }

        }

    }

    &.contrast {

        .tile {
            @apply border-2;
            @apply hover:bg-yellow hover:border-blue-lighter hover:text-black;

            &.active:before {
                @apply bg-yellow border-yellow;
                @apply hover:bg-yellow;
            }

        }

    }

    // ----------------------------------------*-

}