$size: 3.5rem;
$animation: 40;
$scale: 2.5;

.wrapper {

    @apply flex justify-center items-center h-20 my-20;

    .loader {
        width: $size;
        height: $size;
        animation: spin-scale #{$animation + "s"} linear infinite;

        &.border {
            border: 0.2rem solid #ccc;
            border-radius: 100%;
            border-top-color: #333;
            border-bottom-color: #333;
        }

        &.img {
            background: url("/loading.png") no-repeat center / cover;
        }

    }

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes spin-scale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    15% {
        transform: rotate(#{$animation * 27 + "deg"}) scale(1);
    }
    60% {
        transform: rotate(#{$animation * 108 + "deg"}) scale($scale);
    }
    85% {
        transform: rotate(#{$animation * 153 + "deg"}) scale(1);
    }
    100% {
        transform: rotate(#{$animation * 180 + "deg"}) scale(1);
    }
}
