.wrapper {

    @apply flex justify-center items-center h-20 my-20;

    $size: 3.5rem;

    .loader {
        width: $size;
        height: $size;
        animation: spin-scale 40s linear infinite;

        &.border {
            border: 0.2rem solid #ccc;
            border-radius: 100%;
            border-top-color: #333;
            border-bottom-color: #333;
        }

        &.img {
            background: url('/loading.png') no-repeat center / cover;
        }

    }

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes spin-scale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    10% {
        transform: rotate(720deg) scale(1);
    }
    60% {
        transform: rotate(4320deg) scale(2.5);
    }
    85% {
        transform: rotate(6120deg) scale(1);
    }
    100% {
        transform: rotate(7200deg) scale(1);
    }
}
